* {
    padding: 0;
    margin: 0;
}

.maindiv {
    display: flex;
    height: 100vh;
    /* background-color: red; */
    flex-direction: column;
}

/* .topdiv {
    display: flex;
    flex: 0.1;
    padding-bottom: 50;
} */

.bottomdiv {
    display: flex;
    flex: 0.9;

}


.leftbottomdiv {
    display: flex;
    flex: 0.7;
    justify-content: center;
    align-items: center;

    
}

.rightbottomdiv1 {
    display: flex;
    flex: 0.3;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 80px;
} 

.pic1 {
    width: 80%;
    height: 80%;
}

.formdiv1 {
    position: relative;
    bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 1.5em;
    border-radius: 1em;
    margin-bottom: 10%;
    height: 60%;
    width: 65%;
    box-shadow: 0px 0px 5px 1px gray;

}

 .avatar2{
     position: relative;
      width: 170%;
      height: 25%;
      bottom: 190px;
      left: 90px ;
 }  
   

 

.form-control6{
    position: relative;
    bottom: 25px;
    right: 20px;
    display: flex;
    border: none;
    border-bottom: 10px solid rgb(236, 119, 125);
    background: transparent;
    height: 40px;
    color: rgb(9, 9, 10);
    font-size: 18px;
    font-style: italic;
    border-radius: 50px;  
    
}

.form-group6{
    position: relative;
    bottom: 30px;
    font-size: 16px;
    font-style: oblique;
}

    .form-group7{
    position: relative;
    bottom: 20px;
    font-size: 16px;
    font-style: oblique;
    }



.form-control7{
    position: relative;
    bottom: 15px;
    right: 25px;
    display: flex;
    border: none;
    border-bottom: 10px solid rgb(236, 119, 125);
    background: transparent;
    height: 40px;
    color: rgb(9, 9, 10);
    font-size: 18px;
    font-style: italic;
    border-radius: 20px
}

.footer a{
    position: relative;
    bottom: 40px;
    left: 60px;
    color: teal;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
}



@media screen and (max-width:960px) {
    .leftbottomdiv {
        display: none;
    }
    .rightbottomdiv1 {
        display: flex;
        /* background-color: brown; */
        flex: 1;
        background-image: url('./pic1.svg');
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

     .formdiv1 {
        display: flex;
        /* background-color: green;  */
         width: 55%;
        height: 70%;
        box-shadow: 0px 0px 5px 1px gray;
         background: transparent;
    }  

    
    .form-control6{
    
        border: none;
        border-bottom: 10px solid wheat;
        background: white;
        height: 30px;
        position: relative;
        bottom: 40px;
        right: 40px;
        color: rgb(9, 9, 10);
        font-size: 18px;
        font-style: italic;
        border-radius: 20px;
    }

    .form-control7{
        position: relative;
        bottom: 25px;
        right: 45px;
        display: flex;
        border: none;
        border-bottom: 10px solid wheat;
        background: white;
        height: 40px;
        color: rgb(9, 9, 10);
        font-size: 18px;
        font-style: italic;
        border-radius: 20px
    }

    
    .form-group6{
        position: relative;
        bottom: 45px;
        font-size: 20px;
        font-style: oblique;
        color: lawngreen;
    }

    .form-group7{
        position: relative;
        bottom: 30px;
        font-size: 20px;
        font-style: oblique;
        color: lawngreen;
    }
    
    

    

.rightbottomdiv1 {
    position: relative;
    top: 50px;
} 

.avatar2{
    position: relative;
     width: 90%;
     height: 25%;
     bottom: 220px;
     left: 100px ;
}

}